/* Material-light theme (based on Material-darker) */

@define-color color_1 #212121;
@define-color color_2 #1976d2;
@define-color color_3 #f57c00;
@define-color color_4 #757575;
@define-color color_5 #ffffff;

@define-color background-color_2 #f5f5f5;
@define-color background-color_3 #e0e0e0;
@define-color background-color_4 #eeeeee;
@define-color background-color_5 #0277bd;
@define-color background-color_6 #b2ebf2;
@define-color background-color_7 #e0e0e0;
@define-color background-color_8 #0277bd;
@define-color background-color_9 #ffe0b2;
@define-color background-color_10 #ffcdd2;
@define-color background-color_12 #ffecb3;
@define-color background-color_13 #f8bbd0;
@define-color background-color_14 #fafafa;

@define-color border-color_6 #bdbdbd;
@define-color border-color_7 #e0e0e0;

* {
    color: #212121;
    font-family: RobotoMedium;
}

junction,
list row,
treeview.view,
window {
    background-color: #ffffff;
}

button {
    background-color: #ffffff;
}

button:active {
    background-color: #e0e0e0;
}

.button_active {
    border-color: #e0e0e0;
    border-style: solid;
    background-color: #e0e0e0;
}

button.color1,
button.color2,
button.color3,
button.color4 {
    background-color: #eeeeee;
    border-color: #eeeeee;
    border-radius: .25em;
    padding-top: 0.4em;
}

button.color1:active,
button.color2:active,
button.color3:active,
button.color4:active,
button.update:active,
button.invalid:active,
.dialog button:active {
    border-style: none;
    background-color: #e0e0e0;
}

.active image,
button.update {
    color: #1976d2;
    background-color: #ffffff;
    border-color: #1976d2;
    border-radius: .5em;
    border-width: .1em;
}

button.invalid {
    color: #f57c00;
    background-color: #ffffff;
    border-color: #f57c00;
    border-radius: .5em;
    border-width: .1em;
}

menu,
menuitem,
combobox button,
combobox arrow,
combobox menuitem {
    background-color: #eeeeee;
    border-color: #ffffff;
}

treeview.view check,
switch {
    background-color: #f5f5f5;
}

treeview.view check:checked,
switch:checked {
    background-color: #0277bd;
}

treeview.view check:checked {
    -gtk-icon-source: url("./styles/steapp/images/complete.svg");
}

label {
    color: #212121;
}

trough {
    background-color: #ffffff;
    color: #212121;
}

trough highlight,
trough progress {
    background-color: #0277bd;
    color: #212121;
}

scale-mark {
    color: #212121;
}

scrollbar,
scrollbar button,
scrollbar trough {
    background-color: #ffffff;
}

scrollbar slider {
    background-color: #f5f5f5;
}

textview .time {
    color: #757575;
}

.active_device {
    background-color: #f5f5f5;
}

.dialog {
    border: 0;
    background-color: #ffffff;
}

.dialog button {
    background-color: #eeeeee;
    border-radius: .25em;
}

.dialog-error {
    border-bottom-color: #f8bbd0;
}

.dialog-warning {
    border-bottom-color: #ffecb3;
}

.dialog-info {
    border-bottom-color: @color4;
}

.dialog-default {
    border-bottom-color: @color3;
}

.dialog-secondary {
    border-bottom-color: @color2;
}

.dialog-primary {
    border-bottom-color: @color1;
}

.horizontal_togglebuttons {
    border-color: #e0e0e0;
    border-width: .1em;
    background-color: #eeeeee;
}

.horizontal_togglebuttons_active {
    background-color: #e0e0e0;
}

.fan_slider {
    color: #212121;
}

.message_popup {
    border-bottom-color: #212121;
}

.message_popup_echo,
.message_popup_echo button {
    background-color: #0277bd;
}

.message_popup_warning,
.message_popup_warning button {
    background-color: #ffe0b2;
}

.message_popup_error,
.message_popup_error button {
    background-color: #ffcdd2;
}

.numpad_key {
    border-color: #e0e0e0;
    background-color: #eeeeee;
}

.printing-status,
.printing-progress-text {
    color: #212121;
}

.printing-status-label {
    color: #757575;
}

.message {
    border-color: #ffcdd2;
    color: #212121;
    background-color: #ffcdd2;
}

.message button {
    background-color: #ffffff;
    color: #212121;
}

.keyboard_pad {
    background-color: #fafafa;
}